<div class="container">
  <div class="content-container d-flex flex-column align-items-center mt-5">
    <div class="toolbar-container" id="toolbar-container">
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button type="button" id="bold" class="btn btn-outline-secondary" (click)="transformText('BOLD')">
          <span class="material-icons line-height-0">format_bold</span>
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="transformText('ITALIC')">
          <span class="material-icons line-height-0">format_italic</span>
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="transformText('UNDERLINE')">
          <span class="material-icons line-height-0">format_underlined</span>
        </button>
      </div>
      <div class="btn-group me-2" role="group" aria-label="second group">
        <button type="button" class="btn btn-outline-secondary" (click)="transformText('LEFT_ALIGN')">
          <span class="material-icons line-height-0">format_align_left</span>
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="transformText('CENTER_ALIGN')">
          <span class="material-icons line-height-0">format_align_center</span>
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="transformText('RIGHT_ALIGN')">
          <span class="material-icons line-height-0">format_align_right</span>
        </button>
      </div>
      <div class="btn-group me-2" role="group" aria-label="second group">
        <button type="button" class="btn btn-outline-secondary" (click)="transformText('UNORDERED_LIST')">
          <span class="material-icons line-height-0">format_list_bulleted</span>
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="transformText('ORDERED_LIST')">
          <span class="material-icons line-height-0">format_list_numbered</span>
        </button>
      </div>
    </div>
    <div class="content mt-2 border border-secondary min-width min-height p-3" id="text-content" contenteditable="true"
      [innerHTML]="content">

    </div>
  </div>
</div>


<router-outlet></router-outlet>